@model IEnumerable<Anket>
@{
    ViewData["Title"] = "Anket Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-center">@ViewData["Title"]</h1>

<a asp-action="AnketEkle" class="btn btn-outline-primary btn-sm"><i class="fa-solid fa-plus"></i> Anket Ekle</a>

<br />

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>Anket Adı</th>
            <th>Anket Bağlantısı</th>
            <th>Oluşturan Kullanıcı</th>
            <th>Oluşturulma Tarihi</th>
            <th>Başlangıç Tarihi</th>
            <th>Bitiş Tarihi</th>
            <th>Anket Durumu</th>
            <th>Aktif mi?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ad</td>
                <td>@item.Link</td>
                <td>@(item.OlusturanKullanici != null ? item.OlusturanKullanici.Ad + " " + item.OlusturanKullanici.Soyad : "Kullanıcı bilgisi yok")</td>
                <td>
                    @if (item.OlusturmaTarihi != null)
                    {
                        <span class="badge bg-success">@item.OlusturmaTarihi.ToShortDateString()</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Tarih belirtilmedi</span>
                    }
                </td>
                <td>@item.BaslangicTarihi.ToShortDateString()</td>
                <td>@item.BitisTarihi.ToShortDateString()</td>
                <td>
                    @switch (item.AnketDurumu)
                    {
                        case AnketDurumuEnum.Yayınlandı:
                            <span class="badge bg-success">Yayınlandı</span>
                            break;
                        case AnketDurumuEnum.Taslak:
                            <span class="badge bg-warning">Taslak</span>
                            break;
                        default:
                            <span class="badge bg-danger">İptal</span>
                            break;
                    }
                </td>
                <td>
                    @if (item.AktifMi == true)
                    {
                        <span class="badge bg-success">Aktif</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Pasif</span>
                    }
                </td>
                <td>
                    <a class="btn btn-outline-info btn-sm" asp-action="AnketDuzenle" asp-route-id="@item.Id" title="Aktif bilgilerini düzenler"><i class="fa-solid fa-edit"></i> </a>
                    <a asp-action="AnketDurumuDegistir" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm" onclick="return confirm('Durumu değiştirmek istediğinize emin misiniz?')" title="Aktif pasif değişimi yapar"><i class="fa fa-refresh"></i> </a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>


