@using ISUAnket.WEB.Helpers
@model IEnumerable<Kullanici>
@{
    ViewData["Title"] = "Kullanıcılar";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var rol = Context.Session.GetString("KullaniciRolu");
}



<h1 class="text-center">@ViewData["Title"]</h1>

<a asp-action="KullaniciEkle" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i> Kullanıcı Ekle</a>

<br />

<table class="table table-hover table-responsive" id="basic-datatables">
    <thead>
        <tr>
            <th>TCKN</th>
            <th>Kullanıcı Adı</th>
            <th>Ad Soyad</th>
            <th>Rol</th>
            <th>Durum</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@TCKNHelper.MaskeliTCKN(item.TCKN)</td>
                <td>@item.KulaniciAdi</td>
                <td>@item.Ad @item.Soyad</td>
                <td>
                    @if (item.Rol != null)
                    {
                        <span class="badge bg-success">@item.Rol.RolAdi</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Rol atanmadı</span>
                    }
                </td>
                <td>
                    @if (item.AktifMi == true)
                    {
                        <span class="badge bg-success">Aktif</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Pasif</span>
                    }
                </td>
                <td>
                    @if (rol == "Süper Admin")
                    {
                        <a class="btn btn-outline-success btn-sm" asp-action="RolAta" asp-route-id="@item.Id">Rol Ata</a>
                    }

                    <a class="btn btn-outline-info btn-sm" asp-action="KullaniciGuncelle" asp-route-id="@item.Id"><i class="fa-solid fa-edit" title="Kullanıcının bilgilerini günceller"></i></a>
                    @* <a asp-action="KullaniciDurumuDegistir" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm" onclick="return confirm('Durumu değiştirmek istediğinize emin misiniz?')"><i class="fa fa-refresh" title="Kullanıcının durumunu değiştirir"></i></a> *@
                    <form asp-controller="Kullanici" asp-action="KullaniciSil" method="post" style="display:inline;"
                          onsubmit="return confirm('Kullanıcı veritabanından silinecektir. Bu işlem geri alınamaz.Silmek istediğinize emin misiniz?');">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-outline-danger btn-sm" title="Seçilen ögeyi siler">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    @* dataTable.js kullanımı *@
    <script>
        $(document).ready(function () {
            $("#basic-datatables").DataTable({
                "language": {
                    "decimal": ",",
                    "thousands": ".",
                    "lengthMenu": "Sayfa başına _MENU_ kayıt göster",
                    "zeroRecords": "Kayıt bulunamadı",
                    "info": "_TOTAL_ kayıttan _START_ - _END_ arası gösteriliyor",
                    "infoEmpty": "Kayıt yok",
                    "infoFiltered": "(_MAX_ kayıt içinden filtrelendi)",
                    "search": "Ara:",
                    "paginate": {
                        "first": "<<",
                        "last": ">>",
                        "next": ">",
                        "previous": "<"
                    }
                }
            });
        });
    </script>
}